[submodule "qgis-sentinel-scripts"]
	path = scripts/qgis-sentinel-scripts
	url = https://github.com/DHI-GRAS/qgis-sentinel-scripts
[submodule "qgis-python-fmask"]
	path = scripts/qgis-python-fmask
	url = https://github.com/DHI-GRAS/qgis-python-fmask
